---
import Layout from "@/components/layouts/Layout.astro";
---

<Layout page="blog">
  <div class="space-y-16">
    <section class="container flex flex-col items-center">
      <h3
        class="text-silver-900/90 w-full text-lg font-bold underline decoration-green-500/50 decoration-4 underline-offset-[6px]"
      >
        Blog
      </h3>
      <p class="text-silver-700/70 text-md mt-4 text-justify leading-7">
        <span class="font-semibold">Well, yes!</span>
        <br />
        I've decided to open a space to share my abstruse reflections and useless
        thoughts, just to contribute in a completely insignificant way to the web
        chaos. <br />
        After all, everyone has a blog nowadays, <span class="italic"
          >so why not me?</span
        >
      </p>
      <div class="mt-6 flex w-full justify-center">
        <p
          class="text-silver-700/70 text-md text-center leading-7 font-semibold"
        >
          No articles available at the moment. Please check back later!
        </p>
      </div>
    </section>
  </div>
</Layout>
