---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import ProjectsCard from "@/components/ProjectCard.astro";

const worksCollection = await getCollection("works");
const works = worksCollection.map((item) => item.data);
---

<Layout>
  <div class="space-y-16">
    <section class="container flex flex-col items-center">
      <h3
        class="text-silver-900/90 w-full text-lg font-bold underline decoration-green-500/50 decoration-4 underline-offset-[6px]"
      >
        Works
      </h3>
      <div class="mt-6 grid w-full grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2">
        {
          works &&
            works.map((project, index) => (
              <ProjectsCard
                key={index}
                project={project}
                priority={index < 3}
              />
            ))
        }
      </div>
    </section>
  </div>
</Layout>
