---
import { currentYear } from "@/libs/utils";
---

<footer class="mt-12 mb-6">
  <div class="text-silver-500/80 flex justify-center space-x-2 text-sm">
    <span>© {currentYear} Luca Pattocchio.</span>
    <span>All Rights Reserved.</span>
  </div>
</footer>
