/**
 * TailwindCSS Conf
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply overscroll-y-none bg-black p-0 font-sans text-white antialiased;
    }
}

@layer utilities {
    .underline-transition {
        @apply relative cursor-pointer after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:transition-all after:duration-300 hover:after:w-full;
    }
}

/**
 * Custom Classes
 */

html {
    scroll-behavior: smooth;
}

/**
 * Routing Animation
 */

.fadeIn {
    animation: 0.5s fadeIn forwards;
}

.fadeOut {
    animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-20px, 0);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-20px, 0);
        opacity: 0;
    }
}
